Repository patrickwarner/openadserve: changes, and which pre-commit hooks are due for each by the changed paths.
All: goimports, minify-js-sdk, docker-build

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: goimports
        name: goimports
        entry: bash -c 'goimports -w $(git ls-files "*.go")'
        language: system
        types: [go]
      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        pass_filenames: false
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run
        language: system
        pass_filenames: false
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        pass_filenames: false
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        pass_filenames: false
      - id: minify-js-sdk
        name: minify javascript sdk
        entry: ./scripts/minify-sdk.sh
        language: script
        files: ^static/sdk/adsdk\.js$
        pass_filenames: false
      - id: docker-build
        name: docker build
        entry: docker build .
        language: system
        files: \.(go|mod|sum)$|^Dockerfile$|^\.dockerignore$
        pass_filenames: false

Ignore demo deploy scripts
  .gitignore
Due: none

Fix Dockerfile build command
  Dockerfile
Due: docker-build

Remove demo docker-compose
  docker-compose.demo.yml
Due: none

Fix .gitignore to track server directories and add missing main.go files
  .gitignore
  cmd/server/main.go
  tools/cmd/server/main.go
Due: goimports, docker-build

Add multi-stage Dockerfile
  Dockerfile
Due: docker-build

Init AdCP/MCP implementation
  Dockerfile
  cmd/mcp-server/main.go
  docker-compose.yml
  go.mod
  go.sum
  mcp-server-wrapper.sh
Due: goimports, docker-build

Update Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Update Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

Fix placement forecasting bug and add placement-level filtering
  Dockerfile
  internal/analytics/clickhouse.go
  internal/analytics/mock.go
  internal/analytics/spend_test.go
  internal/api/ad.go
  internal/api/click.go
  internal/api/event.go
  internal/api/impression.go
  internal/api/report.go
  internal/forecasting/traffic_analyzer.go
  static/admin.html
Due: goimports, docker-build

Fix placement-specific forecasting in AdCP integration
  cmd/mcp-server/main.go
Due: goimports, docker-build

Fix placement-specific forecasting in MCP server
  cmd/mcp-server/main.go
  internal/forecasting/inventory_calculator.go
  internal/forecasting/traffic_analyzer.go
Due: goimports, docker-build

Fix AdCP MCP server issues and improve media buy workflow
  cmd/mcp-server/main.go
  docs/adcp-integration.md
  mcp-server-wrapper.sh
Due: goimports, docker-build

Redesign admin UI with improved UX and functionality
  static/admin.html
Due: none

Use minified js in demos
  static/demo/index.html
  static/demo/social-feed.html
Due: none

Add banner creative format with server-side composition
  docs/api/api.md
  docs/api/integration.md
  docs/getting-started/limitations.md
  docs/getting-started/overview.md
  docs/operations/trafficking.md
  internal/api/ad.go
  internal/db/postgres.go
  internal/logic/render/banner.go
  internal/logic/selectors/random.go
  internal/logic/selectors/rule_based.go
  internal/models/ad.go
  static/admin.html
  static/sdk/adsdk.js
  static/sdk/adsdk.min.js
  static/sdk/adsdk.min.js.map
  tools/fake_data/main.go
Due: goimports, minify-js-sdk, docker-build

Add campaign reporting to admin UI with shared reporting package
  cmd/server/main.go
  internal/api/campaign_report_handler.go
  internal/reporting/campaign_report.go
  static/admin.html
  tools/campaign_report/main.go
Due: goimports, docker-build

Add explicit division by zero protection to ClickHouse queries
  internal/reporting/campaign_report.go
Due: goimports, docker-build

Improve campaign reporting with constants and budget type enrichment
  internal/api/campaign_report_handler.go
  internal/reporting/campaign_report.go
Due: goimports, docker-build

Improve creative form UX with format-specific fields
  static/admin.html
Due: none

Fix XSS vulnerabilities in creative form
  static/admin.html
Due: none

Fix additional XSS vulnerabilities in dropdown population and reporting
  static/admin.html
Due: none

Remove unused .do directory for App Platform
  .do/app.yaml
  .gitignore
Due: none

Implement optimized single-pass filtering for 3x performance improvement
  docs/architecture/ad_decisioning.md
  docs/features/analytics.md
  docs/getting-started/architecture.md
  docs/getting-started/overview.md
  go.mod
  internal/logic/filters/single_pass.go
  internal/logic/filters/single_pass_test.go
  internal/logic/selectors/metrics_test.go
  internal/logic/selectors/rule_based.go
  internal/logic/selectors/rule_based_test.go
  internal/observability/metrics.go
Due: goimports, docker-build

Fix code quality issues and simplify documentation
  docs/architecture/ad_decisioning.md
  docs/features/analytics.md
  internal/logic/filters/single_pass.go
  internal/logic/selectors/rule_based.go
Due: goimports, docker-build

Add creative count context to batch operation error messages
  internal/logic/filters/single_pass.go
Due: goimports, docker-build

Fix line item creation persistence issue
  internal/api/crud.go
Due: goimports, docker-build

Fix CRUD persistence issues
  internal/api/crud.go
Due: goimports, docker-build

Update contact information
  README.md
  docs/architecture/data_stores.md
  docs/getting-started/limitations.md
  docs/getting-started/overview.md
Due: none

Improve .env defaults
  .env.example
Due: none

Remove broken paths in demo
  static/demo/index.html
  static/demo/social-feed.html
Due: none

Improve admin UX with publisher-filtered creatives dropdowns
  cmd/server/main.go
  internal/api/crud.go
  internal/forecasting/engine_test.go
  internal/models/ad_data_store.go
  static/admin.html
Due: goimports, docker-build

Move forecast endpoint to API namespace
  cmd/server/main.go
  static/admin.html
Due: goimports, docker-build

Fix forecast priority mapping to support configurable priorities
  internal/forecasting/conflict_detector.go
  internal/models/line_item.go
Due: goimports, docker-build

Improve priority system robustness and performance
  internal/forecasting/conflict_detector.go
  internal/models/line_item.go
Due: goimports, docker-build

Address code review feedback with critical improvements
  internal/forecasting/conflict_detector.go
  internal/models/line_item_priority_test.go
Due: goimports, docker-build

Account for priorities and CPM in forecasting model
  internal/forecasting/bid_forecasting_test.go
  internal/forecasting/conflict_detector.go
  internal/forecasting/engine.go
  internal/forecasting/inventory_calculator.go
Due: goimports, docker-build

Add comprehensive database connection pool configuration
  .env.example
  cmd/mcp-server/main.go
  cmd/server/main.go
  docs/configuration/configuration.md
  internal/analytics/clickhouse.go
  internal/config/config.go
  internal/db/postgres.go
  tools/cmd/server/main.go
  tools/fake_data/main.go
  tools/query_events/main.go
Due: goimports, docker-build
